<div class="flex flex-col w-full h-full justify-center items-center">
  <h1 class="pb-16">Current Turn: {{ turnText }}</h1>

  <div class="grid grid-cols-8 gap-y-0">
    @for (file of tiles$ | async; track $index) {
      @for (tile of file; track tile.id) {
        <div class="relative w-24 h-24" [ngClass]="[tile.color, tile.isSelected ? 'bg-yellow-300!' : '']" (click)="onTileSelected(tile)">
          @if (tile.piece; as piece) {
            <board-piece [piece]="piece" />
          }

          @if (tile.isHint) {
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="w-8 h-8 rounded-full bg-stone-400/70"></div>
            </div>
          }

          @if (tile.isCapture) {
            <div class="absolute inset-0 flex items-center justify-center">
              <div class="w-24 h-24 rounded-full border-7 border-stone-400/70"></div>
            </div>
          }

          {{ tile.square }}
        </div>
      }
    }
  </div>
</div>
